.home {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.home__Articles {
  display: flex;
  overflow-y: hidden;
  overflow-y: scroll;
}

.home__Articles::-webkit-scrollbar {
  display: none;
}

.home__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  flex: 1;
}

.home__titleContainer {
  display: flex;
  align-content: space-between;
  align-items: center;
  margin-right: 20px;
}
