.header {
  height: 60px;
  border-bottom: 0.5px solid #d7d7d8;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
}

.header__logo {
  padding-left: 30px;
  object-fit: contain;
  height: 21px;
  margin-right: 50px;
}

.header__items {
  display: flex;
  margin-right: 30px;
  flex: 1;
}

.header__item {
  cursor: pointer;
  font-size: 13px;
  font-weight: 620;
  padding-bottom: 2px;
  margin-right: 40px;
}

.header__item:hover {
  border-bottom: 1px solid;
}

.header__actions {
  cursor: pointer;
  display: flex;
}

.header__action {
  font-size: 11px;
  font-weight: 620;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__icon {
}
